/* General Reset and Container */
#landing {
  margin: 0 auto;
  padding: 0;
}

.standard-header {
  font-weight: 600;
}

.company-details {
  width: 100%;
}

/* Hero Section */
.hero {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at 70% 30%, #021862, #000000 60%);
  background-color: #0f001a;
  background-blend-mode: screen;
  color: white;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
  padding-top: rem;
  width: 100%;
}

.cont {
  width: 100%;
}


.badge {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: .9rem !important;
  margin-bottom: 1rem;
  color: #f9a826;
  margin-top: 2rem;
}

.headline {
  font-size: 4.5rem;
  line-height: 1.3;
  font-weight: bold;
  width: 80%;
  color: #fff;
}

.highlight {
  color: #96ccbf;
}

.subtext {
  margin-top: 2rem;
  color: #ccc;
  width: 60%;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  background-color: #f9a826;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #021e79;
}

/* Services Section */
.services {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.service {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #fff;
}

.service i {
  color: #f9a826;
  margin-right: 0.5rem;
}

/* Tiles Section */
.tiles-container {
  padding: 4rem 1rem;
  text-align: center;
  background: #f5f5f5;
}

.tiles-container h2 {
  margin-bottom: 2rem;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.tile {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  width: 330px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.tile-icon {
  font-size: 3rem;
  color: #f9a826;
  margin-bottom: 1rem;
}

/* Split Sections */
.split-section {
  display: flex;
  justify-content: center;
  padding: 4rem 5rem;
  background-color: #0e0e0e;
}

.split-section.light {
  background-color: #f8f9fa;
  color: #333;
}

.split-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  width: 100%;
  align-items: center;
}

.split-container.reverse {
  flex-direction: row-reverse;
}

.split-text {
  flex: 1;
  padding: 2rem;
  color: #fff;
}

.split-section.light .split-text {
  color: #333;
}

.split-text h2 {

  margin-bottom: 1rem;
}

.split-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.split-text ul {
  list-style: none;
  padding: 0;
}

.split-text ul li {
  margin-bottom: 1rem;
}

.split-image {
  flex: 1;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin: 1rem;
}

/* Process Flow */
.process-flow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 2rem;
}

.process-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;
}

.step-icon {
  font-size: 2rem;
  background-color: #f9a826;
  color: white;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.arrow-icon {
  font-size: 1.5rem;
  color: #f9a826;
}


@media (max-width: 1440px) {
  .tiles {
    gap: 2rem;
  }


  .subtext {
    width: 60%;
  }

  .tiles {
    gap: 1rem;
    justify-content: space-evenly;
  }

  .tile {
    padding: 1rem 3rem;
    min-height: 230px;
    width: 20%;
  }

  .service{
    gap: 0;

  }


}

@media (max-width: 1260px) {
  .tiles {
    gap: 2rem;
    justify-content: center;
  }
.tile {
    padding: 1rem 3rem;
    min-height: 230px;
    width: 40%;
  }
}
/* Media Queries */
@media (max-width: 1172px) {

  .subtext {
    width: 70%;

  }

  /* Split Sections */
  .split-section {
    padding: 4rem 2.5rem;
  }

  .split-container {
    flex-direction: column;
  }

  .split-container.reverse {
    flex-direction: column;
  }

  .split-text,
  .split-image {
    width: 100%;
    padding: 1rem;
  }

  .process-flow {
    flex-direction: row;
  }

  .split-image {
    width: 70%;
    height: 200px;
    min-height: 320px;
  }
  
  .service{
    gap: 0;
   
  }
  .tiles {
    gap: 2rem;
    justify-content: center;
  }
    .tile {
    padding: 1rem 3rem;
    min-height: 230px;
    width: 40%;
  }

  .tile-icon {
    font-size: 2.6rem;
  }

  .container .services .card .icon {
    font-size: 2.5rem !important;
  }

  .step-icon {
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
}


@media (max-width: 768px) {
  .badge {
    font-size: .6rem !important;
  }
  .hero {
    padding: 1.5rem;
  }

  .tiles {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .tile {
    width: 45%;
    height: 240px;;
    min-height: 240px;
  }

  .tile-icon {
    font-size: 2.8rem;
  }

  .services {
    flex-direction: row;
    width: 90%;
    gap: 1rem;
  }

  .process-flow {
    flex-direction: row;
  }

  .split-image {
    width: 70%;
    height: 200px;
    min-height: 300px;
  }

}

@media (max-width: 555px) {
  .hero {
    padding: 1.2rem;
    padding-top: 7rem !important;
    padding-bottom: 3rem !important;
  }

  .tiles {
    flex-direction: column;
    align-items: center;
    gap:  1rem;;
  }

  .tile {
    width: 100%;
    height: 190px;
    min-height: 190px;
  }
  .tile-icon {
    font-size: 2.4rem;
  }

  .split-image {
    width: 90%;
    height: 200px;
    min-height: 250px;
  }

  /* Split Sections */
  .split-section {
    padding: 4rem .8rem;
  }

  .process-flow {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 376px) {

  /* Add responsive styles here */
  nav .container .navbar-brand {
    font-size: 1.1rem;
  }

  nav .container .navbar-nav .nav-link {
    font-size: 1rem;
  }

  nav .container .navbar-nav .nav-link.active {
    font-size: 1rem;
  }

  nav .container .navbar-nav .nav-link:hover {
    font-size: 1rem;
  }

  .tiles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .tile {
    width: 100%;
    height: 180px;
    min-height: 180px;
  }

  .tile-icon {
    font-size: 2.3rem;
  }

  .subtext {
    width: 100%;
    font-size: 0.9rem;
  }

  .split-text {
    padding: 1rem;
  }

  /* Split Sections */
  .split-section {
    padding: 2rem .5rem;
  }

  .split-image {
    width: 90%;
    height: 190px;
    min-height: 200px;
  }

  .step-icon {
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 320px) {

  /* Add responsive styles here */
  nav .container .navbar-brand {
    font-size: 1.1rem;
  }

  nav .container .navbar-nav .nav-link {
    font-size: .9rem;
  }

  nav .container .navbar-nav .nav-link.active {
    font-size: .9rem;
  }

  nav .container .navbar-nav .nav-link:hover {
    font-size: .9rem;
  }

  .headline {
    width: 90%;
  }


  .subtext {
    width: 100%;
  }

  /* Split Sections */
  .split-section {
    padding: 2rem .5rem;
  }


  .split-text {
    padding: 1rem;
  }

  .split-image {
    width: 90%;
    height: 180px;
    min-height: 180px;
  }

  .process-step .step-text strong {
    font-size: 1.1rem;
  }

  .step-icon {
    font-size: 2.2rem;
    padding: 0.5rem 0.9rem;
  }

  .arrow-icon {
    font-size: 1.5rem;
  }

  .tiles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .tile {
    width: 100%;
    min-height: 200px;
  }

  .tile-icon {
    margin-bottom: 0.5rem;
  }

  .service {
    font-size: 0.9rem;
  }

  .process-flow {
    flex-direction: column;
    gap: 10px;
  }


}

/* === Base Styles === */
body {
  font-size: 1rem; /* 16px */
}

p, li, b, strong, .subtext, .service {
  font-size: 1.14rem;
}

.headline {
  font-size: clamp(2.5rem, 5vw, 3em);
}


h3 {
  font-size: 1rem;
}

.standard-header {
  font-size: 2rem;
  margin-bottom: 2rem !important;
}

.tiles-container h2,
.split-text h2 {
  font-size: 2.1rem;
}

@media (min-width: 1441px) {
  h3 {
    font-size: 1.1rem !important;
  }

  .headline {
    font-size: 3.5rem;
  }

  .step-icon {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
  }
}

/* === 1440px and below === */
@media (max-width: 1440px) {
  p, li, b, strong,
  .service,
  .subtext {
    font-size: 1.05rem;
  }

  .headline {
    font-size: 3rem;
  }

  .standard-header {
    font-size: 1.8rem;
  }

  .tiles-container h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.2rem !important;
  }
}

/* === 1024px and below === */
@media (max-width: 1024px) {
  .headline {
    font-size: 2rem;
    width: 90%;
  }

  .subtext {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.07rem !important;
  }

  .step-icon {
    font-size: 1.3rem;
    padding: 0.4rem .8rem;
  }


  .tiles-container h2 {
    font-size: 1.8rem;
  }

  .standard-header {
    font-size: 1.6rem !important;
  }
}

/* === 768px and below === */
@media (max-width: 768px) {
  .headline {
    font-size: 2.5rem;
    width: 90%;
  }

  .hero {
    min-height: 60vh;
  }

  .badge {
    font-size: 0.7rem !important;
  }

  .subtext,
  p,
  li, .service, strong {
    font-size: 0.95rem;
  }

  h3 {
  font-size: 1rem !important;
}

  .tiles-container h2,
  .split-text h2 {
    font-size: 1.6rem;
  }

  .step-icon {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}

/* === 480px and below === */
@media (max-width: 480px) {
  .headline {
    font-size: 1.9rem;
    width: 90%;
  }

  .subtext {
    width: 90%;
  }

  .subtext,
  p,
  li, .service, strong {
    font-size: 0.9rem ;
  }

  
  h3 {
  font-size: 1rem !important;
}


  .tiles-container h2,
  .split-text h2 {
    font-size: 1.4rem;
  }

  .standard-header {
    font-size: 1.5rem;
  }

  .tile {
    padding: 1rem 2rem;
  }
}

/* === 375px and below === */
@media (max-width: 376px) {
  .headline {
    font-size: 1.7rem;
  }

  .subtext, .service,
  p,
  li, strong {
    font-size: 0.8rem;
  }


   h3 {
  font-size: .9rem !important;
}


  nav .container .navbar-brand,
  nav .container .navbar-nav .nav-link {
    font-size: 1rem;
  }

  .tiles-container h2,
  .split-text h2 {
    font-size: 1.3rem;
  }

  .tiles{
    gap: 1rem;
  }

  .tile {
    padding: 1rem 1.5rem;
  }

  .step-icon {
    font-size: 1.5rem;
    padding: 0.5rem 0.8rem;
  }
}
